.answers {
    min-height: 727px;
    padding: 59px 0 69px 0;
    background: #F6F9FC;
    &__wrapper {
        margin-top: 37px;
        display: flex;
        flex-direction: column;
    }
    &__block {
        cursor: pointer;
        position: relative;
        padding: 21px 63px 28px 33px;
        margin-top: 4px;
        height: 70px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
        border-radius: 12px;
        transition: 0.5s all;
        .answers__descr {
            max-width: 1120px;
            display: none;
            font-weight: 300;
            font-size: 16px;
            margin-top: 17px;
            color: #FFFFFF;
        }
        .answers__question {
            font-weight: 600;
            font-size: 20px;
            color: #45515F;
        }
        .answers__arrow {
            position: absolute;
            right: 43px;
            top: 31px;
            transition: 0.5s all;
        }
        &_active {
            background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
            .answers__descr {
                display: block;
            }
            .answers__question {
                color: #FFFFFF;
            }
            .answers__arrow {
                transform: rotateX(180deg);
            }
        }
    }
}

@media(max-width:575px) {
    .answers {
        &__block {
            padding-left: 18px;
            padding-right: 45px;
            .answers__descr {
                font-size: 14px;
                line-height: 1.2;
            }
            .answers__question {
                font-size: 16px;
                line-height: 1.2;
            }
            .answers__arrow {
                top: 27px;
                right: 18px;
            }
        }
    }
}