.calc {
    z-index: 1;
    padding: 29px 19px 36px 28px;
    position: relative;
    margin-top: 64px;
    width: 428px;
    min-height: 582px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    &__img {
        position: absolute;
        bottom: -68px;
        left: -405px;
        z-index: 0;
        pointer-events: none;
    }
    &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #45515F;
    }
    &__term {
        margin-top: 43px;
    }
    &__range {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
    }
    &__num {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #C0C2C5;
    }
    &__result {
        margin: 0 auto;
        margin-top: 63px;
        max-width: 337px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    &__output:nth-child(2){
        margin-top: 21px;
    }
    &__name {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #45515F;
    }
    &__value {
        margin-top: 2px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #F28925;
    }
    &__line {
        //margin-top: 50px;
        width: 380px;
        height: 7px;
        background: #ECECEC;
        border-radius: 8px;
        -webkit-appearance: none;
        outline: none;
        border: none;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            opacity: 0;
            cursor: pointer;
            position: relative;
        }
    }
}
.range {
    position: relative;
    margin-top: 50px;
    &__selector {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 3px;
        z-index: 2;
        left: 50%;
        transform: translateX(-60%);
    }
    &__progressbar {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 10px;
        height: 7px;
        width: 50%;
        background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
        border-radius: 8px;
    }
    &__value {
        position: relative;
        width: 100%;
        span {
            left: 50%;
            //width: 90px;
            transform: translateX(-50%);
            position: absolute;
            text-align: center;
            top: 15px;
            font-weight: 700;
            font-size: 20px;
            color: #45515F;
        }
    }
}

@media(max-width:1160px) {
    .calc {
        margin-left: auto;
        margin-right: 0;
        &__img {
            width: 408px;
            height: 640px;
            bottom: -21px;
            left: -367px;
        }
    }
}

@media(max-width:575px) {
    .calc {
        width: 100%;
        &__img {
            //display: none;
        }
        &__line {
            width: 100%;
        }
    }
}