.hamburger {
    display: none;
}

@media(max-width:575px) {
    .hamburger {
        padding: 11px 9px;
        display: block;
        width: 39px;
        height: 39px;
        background: #FFFFFF;
        border-radius: 8px;
        span {
            display: block;
            margin-top: 4px;
            width: 20px;
            height: 3px;
            background: #FF7B00;
            border-radius: 8px;
            transition: 0.5s all;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &_active {
            span {
                &:nth-child(1) {
                    transform: rotateZ(-45deg);
                    margin-top: 7px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotateZ(45deg);
                    margin-top: -3px;
                }
            }
        }
    }
}