.menu {
    position: fixed;
    z-index: 5;
    height: 80px;
    width: 100%;
    background: var(--main-bg);
    display: flex;
    align-items: center;
    &__title {
        font-family: 'Merriweather', 'Times New Roman';
        font-weight: normal;
        font-size: 35px;
    }
}