$bg: #fefffe;
$first: #141b41;
$second: #623cea;
$white: #fff;
$dark: #161a1d;
$examples: #b4b8c5;

/*
Purple
$bg: #fefffe;
$first: #141b41;
$second: #623cea;
$white: #fff;
$dark: #161a1d;
$examples: #b4b8c5; */

/* 
Old blue
$bg: #fff;
$first: #006494;
$second: #00A8E8;
$white: #fff;
$dark: #051923;
$examples: #979dac */